body {
  background: #f1f1f1;
}
/*头部*/
header {
  width: 100%;
  height: 81px;
  background: url("../images/header.png") no-repeat center / cover;
  overflow: hidden;
}
header h1 {
  width: 230px;
  height: 81px;
  text-indent: -9999px;
  float: left;
  position: relative;
}
header h1 a {
  position: absolute;
  left: 25px;
  top: 17px;
  width: 152px;
  height: 47px;
  background: red;
  background: url("../images/logo.png") no-repeat center / cover;
  text-indent: -9999px;
}
header .menu {
  width: 550px;
  height: 81px;
  float: left;
}
header .menu li {
  width: 25%;
  height: 81px;
  float: left;
  box-sizing: border-box;
  border: 1px solid rgba(130, 201, 255, 0.5);
  background: rgba(38, 132, 204, 0.6);
}
header .menu li.ck {
  background: #076ebd;
}
header .menu li.ck div {
  background-position-y: -45px !important;
}
header .menu li a {
  box-sizing: border-box;
  padding-top: 10px;
  display: block;
  width: 100%;
  height: 81px;
  color: white;
  line-height: 7px;
  font-size: 20px;
  text-align: center;
}
header .menu li a div {
  width: 36px;
  height: 36px;
  margin: 0 auto;
}
header .menu li a .menu-1 {
  background: url("../images/menu.png") no-repeat 0px 0px;
}
header .menu li a .menu-2 {
  background: url("../images/menu.png") no-repeat -86px 0px;
}
header .menu li a .menu-3 {
  background: url("../images/menu.png") no-repeat -130px 0px;
}
header .menu li a .menu-4 {
  background: url("../images/menu.png") no-repeat -42px 0px;
}
header .login {
  width: 280px;
  height: 81px;
  float: right;
}
header .login li {
  float: left;
  width: 50%;
  height: 81px;
  line-height: 81px;
}
header .login li a {
  color: white;
  overflow: hidden;
}
header .login li a img {
  margin-bottom: 2px;
}
/*内容*/
.main {
  width: 90%;
  min-height: 700px;
  margin: 50px auto;
  background: white;
  padding-bottom: 20px;
  border-top: 5px solid #2684cc;
}
.main h3 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  padding-left: 1%;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}
/*表格*/
.box {
  width: 98%;
  margin: 20px auto;
  overflow: hidden;
}
.box #search_01 {
  width: 200px;
  height: 30px;
}
/*表格结束*/
